.title {
    font-size: 18px;
    text-align: center;
    margin-left: 18px;
    color:white;
    margin-top: -20px;
    font-family: sans-serif;
 padding: 1px;
  }

  
  body {

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    overflow-x: hidden;
  }

  header {
    background-color:black;
    color: #fff;
  
    padding: 47px;
  }

  #sidebar {
    height: 342px;
    width: 100px;
    position: fixed;
    top: 0;
    right: 0;
    background-color:white;

    overflow-x: hidden;
    transition: 0.5s;
    padding-top: -2px;
    color:white;
    border-radius:50px;
  }

  #sidebar a {
    padding: 8px 8px 8px 27px;
  text-decoration: none;
  font-size: 18px;
  color:white;
  display: block;
  transition: 0.3s;
  
  }

  #sidebar a:hover {
    color: #f1f1f1;
  }

  #sidebar .close-btn {
    position: absolute;
    top: 0;
    left: -30px;
    font-size: 30px;
    margin-left: 50px;
  }

  section {
    margin-left: 0;
    padding: 20px;
  }

  #open-btn {
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
  }
  .item{
    line-height: 50px;
    hover {opacity: 1;}
  }
  .logo{
    height: 70px;
   
    width: 70px;
 
  }


.item:hover{
background-color:white;
}

#sidebar {
height: 300px;
width: 0;
position: fixed;
top: 0;
right: 0;
background-color: #444;
overflow-x: hidden;
transition: 0.5s;
padding-top: 60px;
color:white;
border-radius: 50px ;


}

#sidebar a {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 18px;
color: white;
display: block;
transition: 0.3s;
}

#sidebar a:hover {
color: #f1f1f1;
}

#sidebar .close-btn {
position: absolute;
top: 0;
right: 25px;
font-size: 30px;
margin-right: 50px;
}

section {
margin-right: 0;
padding: 20px;
}

#open-btn {
font-size: 30px;
cursor: pointer;
position: fixed;
top: 10px;
right: 10px;
}